{% extends 'base.html.twig' %}

{% block body %}
{% verbatim %}

   <div id="nombre-secret" class="container-fluid">
		<section>
			<button v-on:click="decrement" class="btn btn-primary">-</button>
			<input id="input-number" type="number" min="0" max="100" v-model="number" v-on:keyup.enter="submit">
			<button v-on:click="increment" class="btn btn-primary">+</button>
		</section>
		
		<section>
			<button v-on:click="submit" :disabled="isBusy" class="btn btn-success">Soumettre</button>
		</section>
		
		<section v-if="(history.length > 0)">
			<div class="alert" v-bind:class="{'alert-danger' : (history[0]['result'] != 0), 'alert-success': (history[0]['result'] == 0) }">
				<strong>{{history[0]["resultText"]}}</strong>
			</div>
		</section>
				
		<table class="table">
			<thead>
				<th>Tentative</th>
				<th>Réponse</th>
			</thead>
			<tbody>
				<tr v-for="historyLine in history">
					<td>{{historyLine.number}}</td>
					<td>{{historyLine.resultText}}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="2">Nombre de tentatives : {{history.length}}</td>
				</tr>
			</tfoot>
		
		</table>
	</div>
	
{% endverbatim %}
{% endblock %}
	
{% block javascripts %}
	<script>
		var nombresecret = new Vue({
			el: '#nombre-secret',
			data: {
				number: 0,
				history: [],
				isBusy: false
			},
			methods: {
				increment: function() {
					if(this.number == parseInt(this.number, 10)) {
						this.number = parseInt(this.number) + 1;
					} else {
						this.number = 0;
					}
				},
				decrement: function() {
					if(this.number == parseInt(this.number, 10)) {
						this.number = parseInt(this.number) - 1;
					} else {
						this.number = 0;
					}
				},
				submit: function() {
					if(this.number == parseInt(this.number, 10)) {
						this.number = parseInt(this.number);
						if(this.number > 100) this.number = 100;
						if(this.number < 0) this.number = 0;
						if(!this.isBusy) {
							this.isBusy = true;
							Vue.http.get('/game/try/' + this.number).then(response => {
								this.history.unshift({number : this.number, result : response.body.result, resultText : response.body.resultText});
								this.isBusy = false;
							}, response => {
								console.log(reponse);
								this.isBusy = false;
							});
						}
					}
				}
			}
		})
	</script>
{% endblock %}

{% block stylesheets %}
	<style>
		#nombre-secret {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		
		section {
			margin-bottom:1em;
		}
	</style>
{% endblock %}
